uvicorn~=0.23.2
fastapi~=0.110.3
pydantic~=1.10.12
langchain~=0.2.8
starlette~=0.37.2
langchain-chroma==0.1.1
langchain-community==0.2.7
langchain-cohere==0.1.9
jinja2==3.1.4
python-multipart==0.0.9
pypdf==4.2.0
chromadb==0.5.3